body {
  text-align: center;
  padding: 100px;
}
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
fieldset,
figure,
menu,
hr {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 20px;
  border: 20px solid;
}
